/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/* J'insère le Css correspondant au header */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 934.91;
    width: 1440px;
    margin: auto;
}

.logo-booki {
    width: 61.09px;
    height: 19;
    color: #0065FC;
}

.logobox {
    padding: 30px 50px 30px 50px;
}

.menu-header {
    display: flex;
    flex-direction: row;
    gap: 68px;
    font-size: 16px;
}

.bouton-hebergement:hover {
    color: #0065FC;

}

.bouton-hebergement {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


#hebergement {
    width: 112px;
    height: 19px;
    font-size: 16px;
    color: #0065FC;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 400;
    word-wrap: break-word;
}

#activites {
    width: 63px;
    height: 19;
    font-size: 16px;
    color: black
}

.infogroup {
    width: 1340px;
    height: 281px;
    flex-direction: column;
    gap: 35px;
    /* il y a 3 rectangles de la même hauteur et un quatrième plus étroit en bas de la boite infogroup*/
}

.container-titre {
    width: 1340px;
    height: 26px;
    color: black;
    font-size: 22px;
    font-family: Raleway;
    font-weight: 700;
    word-wrap: break-word
}

.container-sous-titre {
    width: 1340px;
    height: 19px;
    color: black;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 40000;
    word-wrap: break-word
}



/* barre de recherche */
.searchbar {
    width: 550px;
    height: 49px;
}

.fa-solid fa-location-dot {
    color: #000000;

}

/*Filtres économique, familial, romantique et nos pépites*/
.filter-bar {
    width: 758 px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
}


/* container avec toutes les sections du main*/
.toutes-sections-container {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}